@import "tailwindcss";

@layer theme {
  :root,
  .light {
    --primary: white;
    --secondary: #131212;
    --third: #f8f8f8;

    /* Background/foreground */
    --background: oklch(0.98 0 0); /* near white */
    --foreground: oklch(0.24 0.02 281.02); /* dark gray */
  }

  .dark {
    --primary: black;
    --secondary: #f8f8f8;
    --third: #131212;

    /* Background/foreground */
    --background: oklch(0.12 0.01 281.02); /* very dark gray */
    --foreground: oklch(0.95 0 0); /* near white */
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; /* Añade espacio para el header fijo */
  }

  .mode {
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Poppins", sans-serif;
  }

  .section-title {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    position: relative;
    display: inline-block;
    color: var(--secondary);
  }

  .section-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: purple;
    transform: scaleX(0.3);
    transform-origin: left;
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary) !important;
  }

  .text-primary {
    color: var(--primary);
  }

  .bg-secondary {
    background-color: var(--secondary) !important;
  }

  .text-secondary {
    color: var(--secondary);
  }

  .bg-third {
    background-color: var(--third) !important;
  }

  .text-third {
    color: var(--third);
  }

  .ease-\[cubic-bezier\(0\.2\,0\,0\,1\)\] {
    transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
  }

  [popover]:starting {
    display: block;
  }
}
